<div>
  <div class="barra-navegacao">
    <button (click)='goBack()' class="voltar">voltar</button>
    <h1>Busca de clientes por nome</h1>
  </div>
  <div class="barra-pesquisa">
    <input [(ngModel)]='nomeCliente' (change)='pesquisar()' type='text' placeholder='nome do cliente'>
    <button (click)='pesquisar()'>pesquisar</button>
  </div>
  <div class="itens-pesquisa">
    <app-cliente *ngFor='let cliente of clientes' [cliente]='cliente'></app-cliente>
    <p *ngIf='clienteNaoEncontrado' class="nenhum-resultado">Nenhum cliente com esse nome foi encontado, tente outro</p>
  </div>
</div>